
<div class='main_div'>

<div class='blank_top'>
</div>


<div class='bigger'>
<p>
  
  <!-- 猫はネズミを食べる -->
  <%= @emoquestion.question %>
  
</p>
</div>

<div class='blank_top'>
</div>


<div  class='big'>

<p>
<table align="center">
  <tr>
    <th><%= form_with scope: :emoquestion, url: check_emoquestion_path, local: true do |form| %>
  <%= form.button  :正 , class: "button499",  name: "emoquestio", value: "1"%>
<%= form.hidden_field :question_id, :value => @emoquestion.id %>
<%= form.hidden_field :answer, :value => 1 %>
<% end %> </th>
<th><span class="white">-------------</span></th>
    <th><%= form_with scope: :emoquestion, url: check_emoquestion_path, local: true do |form| %>
   <%= form.button  :僻 , class: "button499", name: "emoquestio", value: "0" %>
   <%= form.hidden_field :question_id, :value => @emoquestion.id %>
<%= form.hidden_field :answer, :value => 0 %>
<% end %></th>

  </tr>
</table>

</p>
</div>