
<div class='main_div'>

<div class='blank_top'>
</div>


<div class='bigger'>
<p>
  <strong>猫はネズミを食べる</strong>
  <%= @emoquestion.emoji %>
</p>
</div>

<div class='blank_top'>
</div>

<div  class='big'>

<%= form_with scope: :emoquestion, url: check_emoquestion_path, local: true do |form| %>
 
<p><%= form.button  :True , class: "button499",  name: "emoquestio", value: "1"%> <span class="white">-------</span>  <%= form.button  :False , class: "button499", name: "emoquestio", value: "0" %>
<%= form.hidden_field :question_id, :value => @emoquestion.id %></p> 
<% end %>
   </p>

</div>   
</div>